@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/figtree-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/figtree-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: clamp(327px, 30vw, 384px);
    flex-shrink: 0;
    padding: 24px;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid #111111;
    background: #ffffff;
    box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
}

figure {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    border-radius: 4px;
    background: #F4D04E;
}

span {
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 800;
    line-height: 150%;
    color: #111111;
}

time {
    font-size: clamp(12px, 1vw, 14px);
    line-height: 150%;
    color: #111111;
}

h4 {
    font-size: clamp(20px, 1.67vw, 24px);
    font-weight: 800;
    line-height: 150%;
    color: #111111;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

h4:hover,
h4:focus,
h4:active {
    color: #F4D04E;
}

p {
    align-self: stretch;
    font-size: clamp(14px, 1.1vw, 16px);
    line-height: 150%;
    color: #6B6B6B;
}

.author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-image img {
    width: 32px;
    height: 32px;
}

strong {
    font-size: clamp(14px, 1vw, 14px);
    font-weight: 800;
    line-height: 150%;
    color: #111111;
}